@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.ant-layout {
    height: 100%;
}

//解决icon垂直不对称的问题
svg {
    vertical-align: unset;
}
