body {
    @apply h-full;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
        sans-serif !important;
}

html {
    @apply h-full box-border;
}

#root {
    @apply h-full;
}

.ant-layout {
    @apply h-full;
}
